.nav-menu > ul > li > a:before {
    background-color: blue;
}
#hero .btn-get-started:hover {
    background: blue;
    border: 2px solid blue;
}
.section-title h2 {
   
    background: blue;
    color: white;   
}
.section-title h3 span {
    color: blue;
}
.about .content .btn-learn-more {
    
    color: blue;
    border: 2px solid blue;
}
.about .content .btn-learn-more:hover {
    background: blue;
    color: #fff;
  
}

.cta .cta-btn:hover {
    background: blue;
    border: 2px solid blue;
}

element.style {
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: blue;
}
.contact .php-email-form button[type="submit"] {
    background: blue;
}
.contact .php-email-form button[type="submit"]:hover {
    background: blue;
}
#footer .social-links a:hover {
    background: blue;
   
}
#footer .social-links a {
    background: blue;   
}